# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.env*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.DS_Store

# Backend
backend/target/
backend/.env

# OS / IDE
.DS_Store
*.pem
.idea/
.vscode/
